body {
    font-family: 'Bree Serif', sans-serif;
    background-color: #000;
}

.container-fluid {
    padding-bottom: 50px;
}

.group img {
    float: left;
    width: 6vw;
    max-width: 100px;
    height: auto;
}

.group h3 {
    position: relative;
    top: 19px;
    left: 20px;
}

.vertical-center { vertical-align: center; }

.buttonstyle {
    border: none;
    box-shadow: none;
    padding: 1vw 25px;
    margin: 3px 0;
    min-height: 140px;
    width: 70%;
    border-radius: 15px;    
}

.level-button-1 {
    background: #e8b9d5 ;
}

.level-button-2 {
    background: #e380b4 ;
}

.level-button-3 {
    background: #e14b9b ;
}

.level-button-4 {
    background: #e90b8d ;
}


.heading-container {
    margin: 0 auto;
    padding: 10px;
}

.heading-container h2 h3 {
	font-size: 3vw !important;
}

h1 {
    font-size: 3vw;
    color: #fff;
	/*padding-left: 34.3vw;*/
}

h2 {
    text-align: center;
    font-size: 1.9vw;
    color: #fff;
}

h3 {
    font-size: 3vw;
    margin: 0;
    padding: 0px 5px;
    color:#000;
}

.welcome_message {
	font-size: 2.5vw;
	text-align: center;
	padding-bottom: 1px;
}

.button-heading {
    font-size: 2.2vw;
    text-align: left;
}

#pink { color: #e90e8d; }

.ignite {
    width: 11vw;
    height: auto;
    padding: 0 15px 0px 15px;
    vertical-align: -6%;
}

.row-fluid {
    columns: 100% 1;
    flex-flow: row wrap;
	padding-left: 20vw;
	padding-right: 20vw;
}

input[type=button] {
	vertical-align: middle;
	display: block;
	width: 50%;
	margin: 0 auto;
}
.button-wrapper {
	display: table-cell;
	vertical-align: middle;
}
.level-icon {
    margin: 0 5px 0 4px;
}

.main-logo {
	width: 22vw;
	display:block;
    margin-left:auto;
    margin-right:auto;
    padding: 0 15px 0px 15px
}

.center { text-align: center; }


/*******************************************/
/************480 PIXELS AND BELOW***********/
/*******************************************/
@media only screen and (max-width: 480px) {
    .group img {
        float: left;
       width: 120px;
        max-width: 130px;
       height: auto;
    }
    .group h3 {
        position: relative;
        top: 18px;
        left: 10px;
    }

    .buttonstyle {
        border: none;
        box-shadow: none;
        padding: 10px 25px;
        margin: 18px 0;
        width: 100%;
        border-radius: 18px;
        min-height: 200px;
    }

    .heading-container h2 h3 {
    	font-size: 3vw !important;
    }

    h1 {
        font-size: 9vw;
        color: #fff;
    	padding-left: 0vw;
    }

    h2 {
        text-align: center;
        font-size: 6vw;
        color: #fff;
    }

    h3 {

        font-size: 7.1vw;
        margin: 0;
        padding: 0px 5px;
        color:#000;
    }

    .welcome_message {
    	font-size: 6vw;
    	text-align: center;
    	padding-bottom: 10px;
    }

    .button-heading {
        font-size: 6vw;
        text-align: left;
    }

    p {
        font-size: 3.4vw !important;
        color: #fff;
    }

    .ignite {
        width: 35vw;
        height: auto;
        padding: 0 15px 0px 15px;
        vertical-align: -6%;
    }

    .row-fluid {
        columns: 100% 1;
        flex-flow: row wrap;
    	padding-left: 0vw;
    	padding-right: 0vw;
    }

    input[type=button] {
    	vertical-align: middle;
    	display: block;
    	width: 50%;
    	margin: 0 auto;
    }
    .button-wrapper {
    	display: table-cell;
    	vertical-align: middle;
    }

    .level-icon { margin: 0 10px 0 8px; }

    .main-logo {
    	width: 66vw;
    	display:block;
        margin-left:auto;
        margin-right:auto;
        padding: 15px;
    }
}

/*******************************************/
/*************481 TO 1070 PIXELS************/
/*******************************************/
@media only screen and (min-width : 481px) and (max-width : 1070px)  {    
    .group img {
        float: left;
        width: 120px;
        max-width: 130px;
        height: auto;
    }

    .group h3 {
        position: relative;
        top: 18px;
        left: 10px;
    }

    .buttonstyle {
        border: none;
        box-shadow: none;
        padding: 10px 25px;
        margin: 18px 0;
        width: 100%;
        border-radius: 18px;
        min-height: 200px;
    }

    h1 {
        font-size: 9vw;
        color: #fff;
    	padding-left: 0vw;
    }

    h2 {
        text-align: center;
        font-size: 6vw;
        color: #fff;
    }

    h3 {

        font-size: 7.1vw;
        margin: 0;
        padding: 0px 5px;
        color:#000;
    }

    .button-heading {
        font-size: 7vw;
        text-align: left;
    }

    p {
        font-size: 3.4vw !important;
        color: #fff;
    }

    #pink { font-size: 8vw }

    .ignite {
        width: 27vw;
        height: auto;
        padding: 0 15px 0px 15px;
        vertical-align: -6%;
    }

    .row-fluid {
        columns: 100% 1;
        flex-flow: row wrap;
    	padding-left: 0vw;
    	padding-right: 0vw;
    }


    input[type=button] {
    	vertical-align: middle;
    	display: block;
    	width: 50%;
    	margin: 0 auto;
    }
    .button-wrapper {
    	display: table-cell;
    	vertical-align: middle;
    }

    .level-icon {
        margin: 0 10px 0 8px;
    }

    .main-logo {
    	width: 66vw;
    	display:block;
        margin-left:auto;
        margin-right:auto;
        padding: 15px;
    }
}