/******************************************************/
/********************CONSTANTS*************************/
/******************************************************/
body { font-family: 'Bree Serif', sans-serif; }

iframe { padding-top: 35px; }

#pink { color: #e90e8d; }

.center { text-align:center; }

@media (max-width:640px) {
    div>iframe {
        width:100%;
        height:auto;
    }
}

/* FONT SIZES, PADDING, AND MARGINS */
.blackwell p {
	text-align: left;
	margin: 30 0;
}

/*h1 { padding: 10px; }*/

/*BUTTONS*/
.buybutton {
	background-color: #e90e8d;
	padding: 10px;
	margin: 35px;
	border-radius: 10px;
	border: 2px solid #fff;
}
.buybutton:hover {
	background-color: #9d2067;
	border-color:#fff;
}

.burnbutton {
	background-color: #e90e8d;
	padding: 10px;
	margin: 35px;
	border-radius: 10px;
	border: 2px solid #fff;
}

.pricereducebtn {
	background-color: #e90e8d;
	padding: 10px;
	margin: 15px;
	border-radius: 10px;
	border: 2px solid #fff;
}

.pricereducebtn:hover {
	background-color: #9d2067;
	border-color:#fff;
}

/* IMAGES AND BACKGROUNDS */
.ignitebg {
	background-image: linear-gradient(
      rgba(255, 255, 255, 0.36),
      rgba(255, 255, 255, 0.36)
    ),url("../images/original-hot-mama-fit-background-pinkONLY.jpg");
	background-repeat: no-repeat;
	background-position:  bottom;
	padding: 4vw;
	color: #000;
}

.img-container img {
	width: 100%;
	height: auto;
}

.whitewell {
	background-color: #FFF;
	color: #000;
	padding: 4vw;
}

.blackwell {
	background-color: #000;
	color: #FFF;
	padding: 4vw;
}

/******************************************************/
/****************599 PIXELS AND BELOW******************/
/******************************************************/
@media only screen and (max-device-width: 599px) {
	
	/* FONT SIZES, PADDING, AND MARGINS */
	.very-big { font-size: 10vw; }

	.big { font-size: 8vw; }

	.medium { font-size: 6vw; }

	.small { font-size: 5vw; }

	.pricetext { font-size: 40px; }

	#torch-big { font-size: 5.5vw; }

	p { font-size: 6vw; }

	ul li { margin:0px 20px 0 5vw; }

	.FAQ li { margin-top:75px; }

	.sidemargins {
		padding-left: 13vw;
		padding-right:11vw;
	}

	/*BUTTONS*/
	.buybutton {
		width: 50%;
		font-size: 7vw;
	}

	.burnbutton {
		width: 50%;
		font-size: 4.5vw;
	}

	.pricereducebtn {
		width: 90%;
		font-size:8vw;
	}

	/* IMAGES AND BACKGROUNDS */
	.img-container {
		width: 300px;
		min-width: 200px;
		height: 300px;
		min-height: 200px;
		display: inline-block;
		left: 50%;
	}

	.ignite {
	    width: 30vw;
	    min-width: 200px;
	    max-width: 600px;
	    height: auto;
	    padding: 15px 0px 35px 15px;
	    vertical-align: -6%;
	}

	.logo {
		width: 100px;
		height: 100px;
	}

	.testimonial {
		width: 65vw;
		height: auto;
	}

	#lindsay {
		width: 65vw;
		height: auto;
	}
}

/******************************************************/
/*****************600 TO 1099 PIXELS*******************/
/******************************************************/
@media only screen and (min-device-width:600px) and (max-device-width: 1099px) {

/* FONT SIZES, PADDING, AND MARGINS */
	.very-big { font-size: 14vw; }

	.big { font-size: 12vw; }

	.medium { font-size: 9vw; }

	.small { font-size: 5vw; }

	.pricetext { font-size: 40px; }

	#torch-big { font-size: 5.5vw; }

	p {
		padding: 10px;
		font-size: 100vw;
	}

	ul { margin:0px 20px 0 10vw; }

	.ignitebg ul li { padding: 17px; }

	.FAQ li { margin-top:75px; }

	.sidemargins {
		padding-left: 13vw;
		padding-right:11vw;
	}

	/*BUTTONS*/
	.buybutton {
		width: 50%;
		font-size: 7vw;
	}

	.burnbutton {
		width: 50%;
		font-size: 4.5vw;
	}

	.pricereducebtn {
		width: 90%;
		font-size:8vw;
	}

	/* IMAGES AND BACKGROUNDS */
	.img-container {
		width: 300px;
		min-width: 200px;
		height: 300px;
		min-height: 200px;
		display: inline-block;
		left: 50%;
	}

	.ignite {
	    width: 43vw;
	    min-width: 250px;
	    max-width: 500px;
	    height: auto;
	    padding: 35px 15px 35px 15px;
	    vertical-align: -6%;
	}

	.logo {
		width: 150px;
		height: 150px;
	}
}

/******************************************************/
/****************1100 PIXELS AND ABOVE*****************/
/******************************************************/
@media only screen and (min-device-width:1100 ) {

	/* FONT SIZES, PADDING, AND MARGINS */
	.very-big { font-size: 14vw; }

	.big { font-size: 12vw; }

	.medium { font-size: 9vw; }

	.small { font-size: 5vw; }

	.pricetext { font-size: 40px; }

	#torch-big { font-size: 5.5vw; }

	p {
		padding: 10px;
		font-size: 100vw;
	}

	ul { margin:0px 20px 0 10vw; }

	.ignitebg ul li { padding: 17px; }

	.FAQ li { margin-top:75px; }

	.sidemargins {
		padding-left: 13vw;
		padding-right:11vw;
	}

	/*BUTTONS*/
	.buybutton {
		width: 50%;
		font-size: 7vw;
	}

	.burnbutton {
		width: 50%;
		font-size: 4.5vw;
	}

	.pricereducebtn {
		width: 90%;
		font-size:8vw;
	}

	/* IMAGES AND BACKGROUNDS */
	.img-container {
		width: 300px;
		min-width: 200px;
		height: 300px;
		min-height: 200px;
		display: inline-block;
		left: 50%;
	}

	.ignite {
	    width: 43vw;
	    min-width: 250px;
	    max-width: 500px;
	    height: auto;
	    padding: 35px 15px 35px 15px;
	    vertical-align: -6%;
	}

	.logo {
		width: 200px;
		height: 200px;
	}
}
