body {
	font-family: 'Bree Serif', sans-serif;
}

video {
  width: 100%    !important;
  height: auto   !important;
}

@media (max-width: 550px) {
	.buybutton {
		padding: 10px;
		margin: 35px;
		width: 200px;
		font-size: 2.5vw;
		color: blue;
	}
}

#pink { color: #e90e8d; }


#lindsay {
	width: 150px;
	height: 150px;
	border-radius: 50%;
}

.ignitebg {
	padding: 25px;
}
h1 {
	font-size: 5em;
}
p {
	padding: 15px;
}

.buybutton {
	background-color: #e90e8d;
	padding: 10px;
	margin: 35px;
	width: 50%;
	border: none;
	border-radius: 10px;
	font-size: 5.5vw;
}

.buybutton:hover {
	background-color: rgba(233,14,141,0.6);
	border-color: #e90e8d;
}

.center { text-align:center; }

.ignitebg {
	background-image: url("../images/ignitebg.psd");
	background-color: #FFF;
	padding: 4vw;
	color: #000;
}

.whitewell {
	background-color: #FFF;
	color: #000;
	padding: 4vw;
}

.blackwell {
	background-color: #000;
	color: #FFF;
	padding: 4vw;
}
